<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="app/code/Employee/Form/etc/lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="form_employee_index_data_source" xsi:type="string">Employee\Form\Model\ResourceModel\Employee\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Employee\Form\Model\ResourceModel\Employee\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">employee_details</argument>
            <argument name="resourceModel" xsi:type="string">Employee\Form\Model\ResourceModel\Employee</argument>
        </arguments>
    </virtualType>
</config>